@import "variables";

.nosotrosprincipal {
  margin-top: 5%;
  padding: 5%;
  display: grid;
  grid-template-areas: "imagen descripcion";
  grid-template-columns: 50vw auto;
  gap: 50px;
  align-items: center;
  justify-content: center;

  #imagen {
    grid-area: imagen;
    display: flex;
    justify-content: center;
    img {
      width: 70vw;
      height: 70vh;
      object-fit: cover;
    }
  }

  #descripcion {
    grid-area: descripcion;
    h2 {
     font-family: $font-titles;
     font-size: 2rem;
    }
  }

  #texto {
    font-family: $font-text;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  @media (max-width: 768px) {
    .nosotrosprincipal {
      grid-template-areas: 
        "imagen"
        "descripcion";
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      gap: 10px;
      text-align: center;
    }

    #imagen {
      display: flex;
      justify-content: center;
    }

    #imagen img {
      width: 90vw;
      height: 60vh;
      object-fit: cover; 
    }

    #descripcion {
      padding: 10px;
    }

    #descripcion h2 {
      font-size: 1.8rem; 
    }

    #texto {
      font-size: 1rem; 
      line-height: 1.6; 
    }
  }


}