$primary-color: #ccc;
$accent-color: rgb(87, 7, 71);
$secondary-color: rgba(255, 255, 255, 0.322);
$terciary-color: transparent;
$font-titles: "titulos";
$font-text: "texto";
$form-bg: #e6e6e6; 
$button-bg: rgb(120, 40, 100); 
$button-hover: rgb(87, 7, 71); 
$border-color: #666;
$default-padding: 10px; 
