*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
    
}
@font-face {
    font-family: "titulos";
    src: url(../font/American\ Captain.ttf);
}
@font-face {
    font-family: "texto";
    src: url(../font/Nunito-Regular.ttf);
}
h1{
    font-family: "titulos";
    font-size: 30px;
}
h2{
    font-family: "titulos";
    font-size: 25px;
}
.navbar {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.322);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
#logonav {
    width: 80px;
    height: 80px;
    border-radius: 40%;
}

.nav-links {
    list-style: none;   
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav-links li {
    font-family: "titulos";
    font-size: 20px;
    color: white;
    background-color: rgb(87, 7, 71);
    border: 2px solid black; 
    border-radius: 10%;
    padding: 5px 10px; 
}

.nav-links li a {
    color: inherit;
    text-decoration: none;
}


.imagenhome {
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

#box-imagen-home {
    width: 80vw;
    height: 70vh;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#box-imagen-home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


.grilla{
    width: 100%;
    height: auto;
    display: flex;      
    gap: 20px; 
}
.grilla #cards{
    width: 25vh;
    height: 20vw;
}
.grilla #cards img{
    width: 100%;
    height: 100%;
    border: 2px, solid, black;
}
.nosotrosprincipal{
    width: 100%;
    height: auto;
    display: flex;      
    gap: 20px; 
}
.nosotrosprincipal #imagen{
    width: 60vh;
    height: 30vw;
}
.nosotrosprincipal #imagen img{
    width: 100%;
    height: 100%;
}
.nosotrosprincipal #descripcion{
    padding: 5px;
    width: 60vh;
    height: 30vw;

}
.nosotrosprincipal #descripcion p{
    font-family: "texto";
    font-size: 20px;
    color: black;
}

footer{
    width: 100vw;
    height: auto;
    background-color: #ccc;
}

.redes{
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;      
    gap: 20px;  
  }
.redes img{
    width: 30px;
    height: 30px;
}
